{% load widget_tweaks %}



        {% if  tournament.id %}
<form method="POST" class="post-form" action="{% url 'tournament_edit' pk=tournament.id %}">{% csrf_token %}
          <input type='hidden' name="id" value="{{ tournament.id }}" />
        {% else %}
<form method="POST" class="post-form" action="{% url 'tournament_new' %}">{% csrf_token %}
        {% endif %}


    {% for field in tournament_form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-group">
        <label >Start Date(mm/dd/yyyy)</label>
        <input  type="text" name="start_datetime" required  class="form-control" value="{{tournament.start_datetime|date:'m d y'}}">
    </div>
    <div class="form-group">
        <label >End Date(mm/dd/yyyy)</label>
        <input  type="text" name="end_datetime" required  class="form-control" value="{{tournament.end_datetime |date:'m d y'}}">
    </div>

        {% if user.is_authenticated %}
    <button type="submit" class="save btn btn-default">Save</button>
        {% endif %}
</form>


